//colors
$color_raven_approx: #6c7989;
$color_mako_approx: #434b55;
$color_fuscous_gray_approx: #555;
$color_alto_approx: #dedede;
$black_20: rgba(0, 0, 0, 0.2);
$black_45: rgba(0, 0, 0, 0.45);
$color_bahama_blue_approx: #069;
$color_log_cabin_approx: #222;
$black: #000;
$white: #fff;
$color_pale_sky_approx: #61778b;
$white_90: rgba(255, 255, 255, 0.9);
$science_blue: #06c;
$color_havelock_blue_approx: #5198df;
$color_malibu_approx: #77b9fb;
$color_curious_blue_approx: #3782cd;
$white_45: rgba(255, 255, 255, 0.45);
$black_10: rgba(0, 0, 0, 0.1);
$white_70: rgba(255, 255, 255, 0.7);
$color_steel_blue_approx: #3a7cbe;
$color_jordy_blue_approx: #8bbef3;
$white_80: rgba(255, 255, 255, 0.8);
$black_40: rgba(0, 0, 0, 0.4);
$alabaster: #fafafa;
$color_tuatara_approx: #393939;
$color_gravel_approx: #494949;
$color_celeste_approx: #ccc;
$black_6: rgba(0, 0, 0, 0.06);
$color_mine_shaft_approx: #333;
$color_ship_gray_approx: #3a3c42;
$color_spring_wood_approx: #f8f8f2;
$color_silver_chalice_approx: #aaa;

//fonts
$font_0: Monaco;
$font_1: Bitstream Vera Sans Mono;
$font_2: Lucida Console;
$font_3: Terminal;

//urls
$url_1: url("/images/background.png");

//@extend-elements
//original selectors
//h1, h2, h3, h4, h5, h6
%extend_1 {
  color: $color_log_cabin_approx;
  padding: 0;
  margin: 0 0 20px;
  line-height: 1.2;
}

//original selectors
//code, pre
%extend_2 {
  font-family: $font_0, $font_1, $font_2, $font_3;
  color: $color_mine_shaft_approx;
  font-size: 12px;
  overflow-x: auto;
}

//original selectors
//th, td
%extend_3 {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid $color_silver_chalice_approx;
}


@import url("https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700");

html {
  background: $color_raven_approx linear-gradient($color_raven_approx, $color_mako_approx) fixed;
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $color_fuscous_gray_approx;
  font-weight: 300;
  background: $url_1 fixed;
}
.clearfix {
  clear:both;
}

section {
  img.left {
    float:left;
    margin: 8px 8px 8px 0;
  }
  img.right {
    float:right;
    margin: 8px 0 8px 8px;
  }
}


.wrapper {
  width: 640px;
  margin: 0 auto;
  background: #DEDEDE;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 8px;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: $black_20 0 0 0 1px, $black_45 0 3px 10px;
}
header {
  display: block;
  position: relative;
  padding: 15px 20px;
  background: $color_log_cabin_approx;
  border-bottom: 1px solid $black;
  h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 1.2;
    color: $white;
  }

  .nav-links a {
    color: #5DBAE9;
    margin-right:20px;
  }

  p {
    margin: 0;
    color: #61778B;
    width: 300px;
    font-size: 13px;
    &.view {
      display: none;
      font-weight: 700;
      //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: $white_90 0 1px 0;
      a {
        color: $science_blue;
      }
      small {
        font-weight: 400;
      }
    }
  }
  ul {
    margin: 0;
    list-style: none;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 20px;
    height: 38px;
    padding: 1px 0;
    background: linear-gradient($color_malibu_approx, $color_curious_blue_approx);
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 5px;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: inset $white_45 0 1px 0, inset $black_20 0 -1px 0;
    width: auto;
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      left: -5px;
      top: -4px;
      right: -5px;
      bottom: -6px;
      background: $black_10;
      //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
      border-radius: 8px;
      //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: $black_20 0 -1px 0, inset $white_70 0 -1px 0;
    }
    li {
      width: 79px;
      float: left;
      border-right: 1px solid #3A7CBE;
      height: 38px;
      &.single {
        border: none;
      }
      + li {
        width: 78px;
        border-left: 1px solid #8BBEF3;
        + li {
          border-right: none;
          width: 79px;
        }
      }
    }
    a {
      line-height: 1;
      font-size: 11px;
      color: $white_80;
      display: block;
      text-align: center;
      font-weight: 400;
      padding-top: 6px;
      height: 40px;
      //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: $black_40 0 -1px 0;
      strong {
        font-size: 14px;
        display: block;
        color: $white;
      }
    }
  }
  &.without-description h1 {
    margin: 10px 0;
  }
}
section {
  display: block;
  padding: 15px 20px;
  font-size: 15px;
  border-top: 1px solid $white;
  background: linear-gradient($alabaster, $color_alto_approx 700px);
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 0 0 8px 8px;
  position: relative;
}
footer {
  display: block;
  width: 640px;
  margin: 0 auto;
  padding: 16px 16px 0 0;
  color: $color_celeste_approx;
  overflow: hidden;
  font-size:0.8em;
  a {
    color: $white;
    font-weight: bold;
  }
  p {
    float: right;
    + p {
      float: right;
    }
  }
}
a {
  color: $color_bahama_blue_approx;
  text-decoration: none;
}
p {
  margin: 0 0 20px;
  padding: 0;
  margin: 0 0 20px;
}
strong {
  color: $color_log_cabin_approx;
  font-weight: 700;
}
h1 {
  @extend %extend_1;
  line-height: 1.1;
  font-size: 28px;
}
h2 {
  @extend %extend_1;
  line-height: 1.1;
  color: $color_tuatara_approx;
}
h3 {
  @extend %extend_1;
  line-height: 1.1;
  color: $color_gravel_approx;
}
h4 {
  @extend %extend_1;
  color: $color_gravel_approx;
}
h5 {
  @extend %extend_1;
  color: $color_gravel_approx;
}
h6 {
  @extend %extend_1;
  color: $color_gravel_approx;
}
ul {
  margin: 0 0 20px;
}
ol {
  margin: 0 0 20px;
}
table {
  margin: 0 0 20px;
  width: 100%;
  border-collapse: collapse;
}
pre {
  margin: 0 0 20px;
  @extend %extend_2;
  padding: 20px;
  background: #3A3C42;
  color: $color_spring_wood_approx;
  margin: 0 -20px 20px;
  code {
    color: $color_spring_wood_approx;
  }
}
dl {
  margin: 0 0 20px;
}
blockquote {
  margin: 0 -20px 20px;
  padding: 15px 20px 1px 40px;
  font-style: italic;
  background: $black_6;
  color: $color_log_cabin_approx;
}
img {
  max-width: 100%;
}
code {
  @extend %extend_2;
}
th {
  @extend %extend_3;
  color: $color_log_cabin_approx;
}
td {
  @extend %extend_3;
}
dt {
  color: $color_log_cabin_approx;
  font-weight: 700;
}
small {
  font-size: 11px;
}
hr {
  border: 0;
  background: $color_silver_chalice_approx;
  height: 1px;
  margin: 0 0 20px;
}
@media print, screen and(max-width: 740px) {
  body {
    padding: 0;
  }
  .wrapper {
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
    width: 100%;
  }
  footer {
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0;
    padding: 20px;
    width: auto;
    p {
      float: none;
      margin: 0;
      + p {
        float: none;
      }
    }
  }
}
@media print, screen and(max-width:580px) {
  header {
    ul {
      display: none;
    }
    p {
      width: 100%;
      &.view {
        display: block;
      }
    }
  }
}
@media print {
  header p.view a small:before {
    content: 'at http://github.com/';
  }
}
li pre {
  margin-left: -60px;
  padding-left: 60px;
}
